/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

.banner1 {
    background-color: #DDF1D2;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.bloque-izq {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.nav{
    height: 30px;
}

.buscador {
    display: flex;
    align-items: center;
    gap: 10px;

}

.barra-buscador {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 200px;
}

.contenedor-lgo .logo {
    height: 50px;
}

.iconos-header .iconos {
    margin-left: 5px;
    height: 25px;
}

main {
    padding: 200px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
